//@import "node_modules/@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/core/src/blueprint.scss";

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: $pt-dark-app-background-color; /* Just to visualize the extent */
}